# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
image-*.tar

# Temporary files, for example, from tests.
/tmp/

# Validation error images
/test/support/images/did_not_match

# Mac metadata
.DS_Store

# Minio
.minio.sys/

# Performance result images
test/perf/*.png
test/perf/*.jpeg

# Local .iex.exs
.iex.exs

# ML model
*.pt
*.onnx

# ASDF
.tool-versions

# Mise
mise.toml

# Don't add the lensfun DTD to the repo
lensfun-database.dtd